#!/bin/sh

gentoo-pipewire-launcher &

xrandr --output DisplayPort-1   --mode 1920x1200 --pos 0x0       --rate 59.95 # top left
xrandr --output HDMI-A-0 --mode 1920x1080 --pos 1920x1200    --rate 60    # bottom right
xrandr --output DisplayPort-0   --mode 1920x1080 --pos 0x1200 --rate 144   # bottom left
xrandr --dpi 94 &

xinput set-prop "BenQ ZOWIE BenQ ZOWIE Gaming Mouse" "libinput Accel Profile Enabled" 0, 1 # disable mouse accel
xinput set-prop pointer:"Logitech MX Master 3" "libinput Accel Profile Enabled" 0, 1 # disable mouse accel
xsetroot -cursor_name left_ptr &
setxkbmap eu & # eurokey layout because its cool, might switch to colemak-dh later on

redshift &
picom &

kiti &
nextcloud &
keepassxc &
