#!/bin/sh

export QT_AUTO_SCREEN_SCALE_FACTOR=0
export QT_STYLE_OVERRIDE=kvantum
export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"

if [ "$XDG_SESSION_TYPE" = "x11" ]
then
    xrandr --output DP-2   --mode 1920x1200 --pos 0x0       --rate 59.95 # top left
    xrandr --output HDMI-1 --mode 1920x1080 --pos 1920x1200    --rate 60    # bottom right
    xrandr --output DP-1   --mode 1920x1080 --pos 0x1200 --rate 144   # bottom left
    xrandr --dpi 94 &

    xinput set-prop "BenQ ZOWIE BenQ ZOWIE Gaming Mouse" "libinput Accel Profile Enabled" 0, 1 # disable mouse accel
    xinput set-prop pointer:"Logitech MX Master 3" "libinput Accel Profile Enabled" 0, 1 # disable mouse accel
    xsetroot -cursor_name left_ptr &
    setxkbmap eu & # eurokey layout because its cool, might switch to colemak-dh later on

    redshift &
    picom &
else
    wlr-randr --output DP-2       --mode 1920x1200            --pos 0,0        # top left
    wlr-randr --output DP-1       --mode 1920x1080@144.001007 --pos 0,1200     # bottom left
    wlr-randr --output HDMI-A-1   --mode 1920x1080            --pos 1920,1200  # bottom right

    gsettings set org.gnome.desktop.interface gtk-theme 'Catppuccin-Mocha-Standard-Lavender-Dark'
    gsettings set org.gnome.desktop.interface icon-theme 'Papirus-Dark'

    gammastep -l 54.3:13.1 -t 5700:4000 &
fi

kiti &
nextcloud &
keepassxc &
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 & # gnome polkit daemon
