@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    background: @base;
    font-family: Hack Nerd Font;
    font-weight: bold;
    margin: 0px;
    padding: 0;
}

tooltip {
    background: @base;
    color: @lavender;
    padding: 4px;
}

#tags,
#window,
#pulseaudio,
#cpu,
#memory,
#clock,
#language,
#tray {
    background: @transparent;
    padding: 0 4px;
    margin: 0 2px;
}

#tags button {
    color: @surface0;
}
#tags button.urgent {
    color: @red;
}
#tags button.occupied {
    color: @overlay0;
}
#tags button.focused {
    color: @lavender;
}

#window {
    color: @lavender;
}

#pulseaudio {
    color: @sapphire;
}

#cpu {
    color: @sky;
}

#memory {
    color: @teal;
}

#clock {
    color: @green;
}

#tray {
    color: @base;
}

